version: '3.8'

services:
  app:
    image: ghcr.io/barabum0/url_shortener:latest
    volumes:
      - ./logs/:/usr/src/app/logs/
    restart: unless-stopped
    ports:
      - "8080:8000"

  mongo:
    image: mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: w6a12da124BP2
